:root {
  ---section-bg-color: rgb(13 110 253 / 0%);
  ---primary-font-family: "Rubik", sans-serif;
  ---secondary-font-family: "Comfortaa", cursive;
  ---alternative-font-family: "Lexend Deca", sans-serif;
  ---primary-font-color: #484e60;
  ---box-shadow-links: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  ---link-hover-color: #b332ac;
  ---accent-font-color: #a3c3ff;
}

body {
  background-color: #adb8cdf5;
}

h1 {
  color: var(---primary-font-color);
}

h2 {
  text-align: center;
}

p {
  font-size: 18px;
  margin: 46px auto;
}

.hello {
  display: flex;
  margin-bottom: -1px;
  background-color: #484e60;
  flex-direction: column;
  align-items: flex-end;
}

h3 {
  margin-top: 10px;
  margin-right: 10px;
  font-family: var(---primary-font-family);
  font-size: 55px;
  color: #ffdaf7;
}
.name {
  color: var(---accent-font-color);
}

.logo {
  max-height: 213px;

  margin: -99px -40px -60px;
}
.container-fluid {
  flex-direction: row;
}

div.container-fluid {
  justify-content: flex-end;
}

.navbar > .container-fluid {
  flex: column;
  align-content: space-between;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 3px;
}

span.navbar-toggler-icon {
  width: 40px !important;
  height: 40px !important;
}
button.navbar-toggler {
  margin-left: 27px;
}

.navbar-cc {
  background-color: #484e60;
  font-size: 1.25rem;
}

.nav-link {
  color: hsl(325, 100%, 93%);
}

.nav-link:hover {
  color: var(---accent-font-color);
}

.navbar-nav .nav-link.active {
  color: #db94d5;
}

#row {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  flex-direction: row;
  align-items: flex-start;
}

ul.navbar-nav {
  padding: 6px;
  color: #f86eb8;
}
ul.navbar-nav:hover {
  color: #f86eb8;
}

.one,
.two {
  font-family: var(---alternative-font-family);

  color: var(---primary-font-color);
}

.headings {
  font-weight: 700;
  font-family: var(---alternative-font-family);
  color: var(---primary-font-color);
}
.image-lp {
  max-width: 600px;
}
.link {
  font-size: 14px;
  text-decoration: none;
  color: #484e60;
}

.link {
  display: block;
  margin: auto;
  max-width: fit-content;
  text-align: center;
  border-style: line;
  color: var(---primary-font-color);
  font-weight: 800;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(---section-bg-color);
  box-shadow: var(---box-shadow-links);
}
.link:hover {
  color: var(---link-hover-color) !important;
  transition: ease-in-out 0.2s;
  font-size: 15px;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }
  #row {
    margin-top: -30px;
  }
  p {
    font-size: 13px;
    margin-top: 0;
  }
  .logo {
    display: none;
  }
  .headings {
    margin-top: 0;
  }
  .mb-3 {
    margin-bottom: -3rem !important;
  }
  .mt-5 {
    margin-top: -1rem !important;
  }
  .mb-5 {
    margin-bottom: 2rem !important;
  }
  .p-5 {
    padding: 3rem !important;
  }
  h3 {
    font-size: 30px;
  }
  .nav-link {
    font-size: 18px;
  }
  .img-fluid {
    max-inline-size: 113%;
    margin-left: -21px;
  }
}

@media (max-width: 992px) {
  .container-fluid {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    align-content: stretch;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
