:root {
  ---section-bg-color: hsl(325, 100%, 93%);
  ---primary-font-family: "Rubik", sans-serif;
  ---secondary-font-family: "Comfortaa", cursive;
  ---primary-font-color: rgb(150, 73, 138);
}

body {
  background-color: #c0c0c0;
}
.logo {
  max-width: 350px;
  max-height: 350px;
}

.navbar-cc {
  font-family: var(---primary-font-family);
  background-color: #484e60;
  font-size: 1.25rem;
  padding: 5px 5px 5px 5px;
}

.nav-link {
  color: hsl(325, 100%, 93%);
}

.nav-link:hover {
  color: #f86eb8;
}

.navbar-nav .nav-link.active {
  color: #db94d5;
}

.navbar-nav {
  justify-items: right;
}

ul.navbar-nav {
  padding: 10px;
  color: #f86eb8;
}
ul.navbar-nav:hover {
  padding: 10px;
  color: #f86eb8;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
  }
}

.one,
.two {
  font-family: var(---primary-font-family);
  font-size: 24px;
  color: var(---primary-font-color);
}

.headings {
  font-weight: 700;
}
.image-lp {
  max-width: 600px;
}
