:root {
  ---section-bg-color: rgb(13 110 253 / 0%);
  ---primary-font-family: "Rubik", sans-serif;
  ---secondary-font-family: "Comfortaa", cursive;
  ---alternative-font-family: "Cutive Mono", monospace;
  ---letter-spacing: -2px;
  --third-font-family: "Fredericka the Great", cursive;
  ---primary-font-color: #484e60;
  ---box-shadow-links: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  ---link-hover-color: #fc74c3;
  ---accent-font-color: hsl(325, 52%, 47%);
}

body {
  background: #bbbbbb57;
}

h1 {
  color: var(---primary-font-color);
}

h2 {
  text-align: center;
}

p {
  font-size: 18px;
  margin: 36px 14px;
  letter-spacing: -1px;
  text-align: justify;
  line-height: 20px;
}

.hello {
  display: flex;
  margin-top: 28px;
  margin-bottom: -20px;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-end;
}

h3 {
  margin-top: 10px;
  margin-right: 10px;
  font-family: var(--third-font-family);
  font-size: 55px;
  color: hwb(0deg 0% 100% / 78%);
}
.name {
  color: #ca158e;
}

.logo {
  max-height: 250px;
  max-height: 250px;
  margin: -100px -40px -60px;
  -webkit-filter: drop-shadow(-6px -39px -5px #484e60);
  filter: drop-shadow(-7px 2px 4px #81767c);
}
.container-fluid {
  flex-direction: row;
}

div.container-fluid {
  justify-content: flex-end;
  padding: 0;
}

.navbar > .container-fluid {
  flex: column;
  align-content: space-between;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 3px;
}

span.navbar-toggler-icon {
  width: 40px !important;
  height: 40px !important;
}
button.navbar-toggler {
  margin-left: 27px;
}

.navbar-cc {
  background: radial-gradient(
    circle at 10% 30%,
    rgb(251, 222, 238) 20%,
    rgb(206, 201, 226) 80.3%
  );
  font-size: 1.25rem;
  margin-bottom: -13px;
}

.nav-link {
  color: hsl(325, 88%, 35%);
  line-height: 75px;
  letter-spacing: var(---letter-spacing);
  margin-left: 51px;
}

.nav-link:hover {
  color: var(---link-hover-color);
}

.navbar-nav .nav-link.active {
  color: var(---accent-font-color);
}
.row-intro {
  display: flex;
  flex-direction: column-reverse;
}

.row {
  flex-direction: row-reverse;
}

#row {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  flex-direction: row;
  align-items: flex-start;
}

ul.navbar-nav {
  padding: 6px;
  color: #9e115c;
}
ul.navbar-nav:hover {
  color: #f86eb8;
}

.one,
.two {
  font-family: var(---alternative-font-family);
  color: var(---primary-font-color);
}

.headings {
  font-size: 26px;
  font-weight: 700;
  font-family: var(--third-font-family);
  color: var(---primary-font-color);
  line-height: var(---line-height);
}
.image-lp {
  max-width: 600px;
}
.link {
  letter-spacing: -1px;
  font-size: 14px;
  text-decoration: none;
  color: #484e60;
  font-family: var(---alternative-font-family);
}

.link {
  display: block;
  margin: auto;
  max-width: fit-content;
  text-align: center;
  border-style: line;
  color: var(---primary-font-color);
  font-weight: 800;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(---section-bg-color);
  box-shadow: var(---box-shadow-links);
}
.link:hover {
  color: var(---link-hover-color) !important;
  transition: ease-in-out 0.2s;
  font-size: 15px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }
  #row {
    margin-top: -71px;
    flex-direction: column;
  }
  .row-intro {
    padding: 0;
    width: 107%;
  }
  p {
    font-size: 16px;
    margin-top: 0;
    text-align: justify;
  }
  .logo {
    display: none;
  }
  .headings {
    margin-top: 0;
  }
  .mb-3 {
    margin-bottom: -3rem !important;
  }
  .mt-5 {
    margin-top: -1rem !important;
  }
  .mb-5 {
    margin-bottom: 2rem !important;
  }
  .p-5 {
    padding: 3rem !important;
  }
  h3 {
    font-size: 25px;
    margin-right: -7px;
  }
  .name {
    text-align: right;
  }
  .nav-link {
    font-size: 18px;
    font-size: 23px;
    margin-left: -26px;
    margin-top: -34px;
    margin-bottom: -28px;
    padding: 49px;
    line-height: 36px;
  }
  .img-fluid {
    max-inline-size: 113%;
    margin-left: -21px;
  }
  #tropical-weather {
    margin-top: -40px;
  }
}

#contact-me {
  margin: 65px 0 5px;
  padding: 36px;
  line-height: 29px;
  letter-spacing: -2px;
  font-size: 20px;
  font-family: var(---alternative-font-family);
  text-align: center;
}

#social-contact {
  margin: -2px 0 5px;
  padding: 25px;
  line-height: 29px;
  letter-spacing: -2px;
  font-size: 20px;
  font-family: var(---alternative-font-family);
  text-align: center;
}

div.contact {
  display: flex;
  justify-content: center;
  padding: 98px;
}

div.container.text-center {
  display: flex;
  justify-content: center;
}

.email,
.social-heading {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  font-family: var(--third-font-family);
}

.email-address {
  display: flex;
  justify-content: center;
  color: var(---accent-font-color);
  font-size: 28px;
  font-family: var(--third-font-family);
  text-decoration: underline;
  margin-top: 21px;
  margin-bottom: 76px;
}

.email-address:active:hover {
  color: var(---accent-font-color);
}

.email-address:hover {
  color: var(---link-hover-color);
}

.social {
  display: flex;
  max-width: 119px;
  font-family: var(---alternative-font-family);
  margin-bottom: 20px;
}

.thanks {
  font-family: var(--third-font-family);
  margin: -20px 0 5px;
  padding: 36px;
  font-size: 30px;
  text-align: center;
  color: var(---accent-font-color);
}

.attribute {
  display: flex;
  font-family: var(---primary-font-family);
  padding: 120px;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}

.attribute-link {
  font-size: 13px;
}

@media (max-width: 992px) {
  .container-fluid {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    align-content: stretch;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
  }
}
